<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>{% if page.title %} {{ site.title }} - {{ page.title }} {% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  
    <style>
      body {
        background-color: #eeeeee;
      }
    </style>

    <link rel="stylesheet" 
        href="{{ "/assets" | prepend: site.baseurl }}/bootstrap/bootstrap.min.css">

    <script src="{{ "/assets" | prepend: site.baseurl }}/jquery/jquery.js"></script>
    <script src="{{ "/assets" | prepend: site.baseurl }}/bootstrap/bootstrap.js"></script>

    <script src='{{ "/node_modules" | prepend: site.baseurl }}/vue/dist/vue.js'></script>

    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/{{ site.filename }}.css">
    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/{{ site.filename }}-navbar.css">
    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/syntax.css">
  

    <script defer 
        src="{{ "/assets" | prepend: site.baseurl }}/font-awesome/releases/v5.0.6/js/all.js"></script>

    <style>
      :host {
        display: block;
      }
      .top-10 { margin-top:10px; }
      h4 {
        font-weight: bold;
      }
      .list-group-item {
        cursor: pointer;
      }
    </style>
  </head>
  