
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      -->
        <button type="button" 
            class="navbar-toggle toggle collapsed" 
            data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <div class="navbar-id">
            <div class="navbar-id-icon">
                    {% include logo-round.svg %}
            </div>
            <div class="navbar-id-name">
              Vue Beers - A Vue.js tutorial
            </div>
          </div>
        </a>
        <a href="https://twitter.com/lostinbrittany/" title="By Horacio 'LostInBrittany' Gonzalez">{% include logo_lib.svg %}</a>
      </div>
    </div>
  </nav>
  <div class="navbar-separator" > </div>

  <warp10-conf conf="doc"></warp10-conf>

  <div id="mainbody">
