<div id="panel-steps" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-steps">
                    Steps
                </a>
            </h4>
        </div>
        <div id="collapse-steps" class="panel-collapse collapse {% if (page.category == 'steps')  %} in {% endif %}">
            <div class="list-group">
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-01/">
                    Let's begin with some static HTML
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-02/">
                    Creating your first Vue.js app
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-03/">
                    Iterating the list
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-04/">
                    Filtering
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-05/">
                    Sorting
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-06/">
                    Calling the server
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-07/">
                    Routing URLs using vue-router
                </a>
            </div>
        
        </div>
    </div>
        