<div id="panel-solutions" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-solutions">
                Solutions
            </a>
            </h4>
        </div>
        <div id="collapse-solutions" class="panel-collapse collapse {% if (page.category == 'solutions')  %} in {% endif %}">
            <div class="list-group">
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-01/solution/"
                    target="_blank">
                    Let's begin with some static HTML
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-02/solution/"
                    target="_blank">
                    Creating your first Vue.js app
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-03/solution/"
                    target="_blank">
                    Iterating the list
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-04/solution/"
                    target="_blank">
                    Filtering
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-05/solution/"
                    target="_blank">
                    Sorting
                </a>
                
            </div>
        
        </div>
    </div>
        