<div class="container demo">
    <div id='app-09_01'>
        <h1>{{ message }}</h1>
        <router-view></router-view>
    </div>
</div>

<script>
if (!window.VueBeers) {
    window.VueBeers = {};
}

window.VueBeers.beerList08_01 = {
    data: function() {
        return { 
            criteria: [
                { name: "name", label: "Alphabetical"},
                { name: "alcohol", label: "Alcohol content" }
            ],
            criterium: '',
            descendingSort: false,
            filterText: '',   
            beers:[
                {
                    "alcohol": 6.8,
                    "name": "Affligem Blond",
                    "description": "Affligem Blonde, the classic clear blonde abbey ale, with a gentle roundness and 6.8% alcohol. Low on bitterness, it is eminently drinkable."
                },
                {
                    "alcohol": 8.5,
                    "name": "Affligem Tripel",
                    "description": "The king of the abbey beers. It is amber-gold and pours with a deep head and original aroma, delivering a complex, full bodied flavour. Pure enjoyment! Secondary fermentation in the bottle."
                },
                {
                    "alcohol": 9.2,
                    "name": "Rochefort 8",
                    "description": "A dry but rich flavoured beer with complex fruity and spicy flavours."
                },
                {
                    "alcohol": 11.3,
                    "name": "Rochefort 10",
                    "description": "The top product from the Rochefort Trappist brewery. Dark colour, full and very impressive taste. Strong plum, raisin, and black currant palate, with ascending notes of vinousness and other complexities."
                },
                {
                    "alcohol": 7,
                    "name": "Chimay Rouge",
                    "description": "This Trappist beer possesses a beautiful coppery colour that makes it particularly attractive. Topped with a creamy head, it gives off a slight fruity apricot smell from the fermentation. The aroma felt in the mouth is a balance confirming the fruit nuances revealed to the sense of smell. This traditional Belgian beer is best savoured at cellar temperature "
                }
            ],        
        };
    },    
    methods: {
        filteredAndSorted: function(beers, filterText, criterium, descendingSort)  {
            let coef = descendingSort ? -1 : 1;
            return this.filteredList(beers, filterText)
                .sort( (a,b) =>  {  
                    if ( a[this.criterium] === b[this.criterium] ) return 0;
                    if ( a[this.criterium] < b[this.criterium] ) return -1 * coef;
                    if ( a[this.criterium] > b[this.criterium] ) return 1 * coef;      
                    });
        },
        filteredList: function (beers, filterText) {
            if (!filterText) {
                return [ ... beers];
            }
            return beers.filter( (beer) => {
                return beer.name.match(new RegExp(filterText, 'i'));
            })
        }
    },
    created: async function() {
        let fetchResult
        fetchResult = await fetch('../data/beers/beers.json');
        if (fetchResult.status == 200) {
            this.beers = await fetchResult.json();
        }
    },
    mounted: function() {
        this.criterium = this.criteria[0].name;
    },
    template: `
    {% raw %}
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-3">
                <div>Search:</div> 
                <div>
                    <input id="searchInput" 
                        class="searchInput" 
                        v-model="filterText">
                </div>
                <div>  
                Sort by: 
                <select v-model="criterium">
                    <option 
                            v-for="item in criteria"  
                            v-bind:value="item.name">
                        {{item.label}}
                    </option>
                </select>
                <div>
                    <input 
                        type="checkbox" 
                        v-model="descendingSort" 
                        name="sortingOrder"> 
                    Descending sort
                </div>
            </div>
            </div>
            <div class="col-md-9">
                <div class="beers">
                    <div class="beer-08-01 " 
                            v-for="beer in filteredAndSorted(beers,filterText,criterium,descendingSort)">
                        <beer-list-item-08-01 
                            v-bind:id='beer.id'
                            v-bind:img='beer.img'
                            v-bind:name='beer.name'
                            v-bind:alcohol='beer.alcohol'
                            v-bind:description='beer.description'>
                        </beer-list-item-08-01>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {% endraw %}
    `,
};   

window.VueBeers.beerListItem08_01 = {  
    data: function() {
        return {   
        };
    },
    props: [ 'name', 'description', 'alcohol', 'id', 'img' ],
    computed: {
        imgUrl: function() {
            if (!this.img) {
                return;
            }
            return `../data/beers${this.img}`;
        },
        detailUrl: function() {
            if (!this.id) {
                return '/';
            }
            return `/beer/${this.id}`
        }
    },
    template: `
    {% raw %}
    <div v-bind:id="id" class="clearfix">
        <router-link v-bind:to="detailUrl">
            <img class="float-right el-img" v-bind:src="imgUrl">
            <h2 class="el-name">{{name}}</h2>
            <p class="el-description">{{description}}</p>
            <p class="pull-right el-alcohol">Alcohol content: {{alcohol}}%</p>
        </router-link>
    </div>
    {% endraw %}
    `,
};
    


window.VueBeers.beerDetails08_01 = {
    data: function() {
        return {  
            beer: {}, 
            mainImg: null,
        };
    },
    computed: {
        imgUrl: function() {
            if (!this.beer.img) {
                return;
            }
            return `../data/${this.beer.img}`;
        },
        labelUrl: function() {
            if (!this.beer.label) {
                return;
            }
            return `../data/${this.beer.label}`;
        },
    },
    mounted: function() {
        this.getBeerDetails(this.$route.params.id);
    },
    watch: {
      '$route' (to, from) {
          this.getBeerDetails(to.params.id);
      }
    },
    methods: {
        getBeerDetails: async function(id) {
            let fetchResult
            fetchResult = await fetch(`../data/beers/details/${id}.json`);
            if (fetchResult.status == 200) {
                this.beer = await fetchResult.json();
            }
            this.mainImg = `../data/${this.beer.img}`;
        },
        setImage: function(img) { 
            this.mainImg = `../data/${img}`;
        },
    },
    template: `
    {% raw %}
    <div v-bind:id="beer.id" class="detail clearfix">
        <a href="#/">
            <img class="pull-right back" src="../img/back.png">
        </a>
        <h1 class="name">{{beer.name}}</h1>
        
        <img class="pull-right img" v-bind:src="mainImg">
        
        <p class="description">{{beer.description}}</p>

        <ul class="beer-thumbs">
            <li>
                <img v-bind:src="imgUrl" 
                    v-on:click="setImage(beer.img)">
            </li>
            <li>
                <img 
                    v-bind:src="labelUrl" 
                    v-on:click="setImage(beer.label)">
            </li>
        </ul>
        <ul class="specs">
            <li>
                <dl>
                <dt>Alcohol content</dt>
                <dd>{{beer.alcohol}}%</dd>
                </dl>
            </li>
            <li>
            <dl>
              <dt>Brewery</dt>
              <dd>{{beer.brewery}}</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Availability</dt>
              <dd>{{beer.availability}}</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Style</dt>
              <dd>{{beer.style}}</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Serving instructions</dt>
              <dd>{{beer.serving}}</dd>
            </dl>
          </li>
        </ul>
        </ul>
    </div>
    {% endraw %}
    `,
};    

    Vue.component('beer-list-08-01', VueBeers.beerList08_01);
    Vue.component('beer-list-item-08-01', VueBeers.beerListItem08_01);
    Vue.component('beer-details-08-01', VueBeers.beerDetails08_01);

    const routes = [
        { path: '/', component: VueBeers.beerList08_01 },
        { path: '/beer/:id', component: VueBeers.beerDetails08_01},
    ]

    const router = new VueRouter({
        routes 
    })

    var app = new Vue({
        el: '#app-08_01',
        data: {
            message: 'Vue Beers',
        },
        router,
    })
</script>


<style>
    .searchInput {
        max-width: 100%;
        width: 100%;
    }
    .sidebar {
        margin-bottom: 2rem;
    }
    .beer .alcohol {
        float: right;
    }
    .beer .name {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .beer .description {
        margin-bottom: 2rem;
    }
    .container {
        max-width: 100%;
    }
    .sidebar {
        margin-bottom: 2rem;
    }
    .beer-08-01 {
        margin: 10px;
        padding: 10px;
        border: solid 1px black;
        border-radius: 10px;
        min-height: 150px;
    }
    .el-img {
        max-height: 100px;
    }
    .el-alcohol {
        clear:both;
    }
    .float-right {
        float:right;
    }
    .beer-08-01  a {
        color: inherit;
        text-decoration: none;
    }
      .detail {
        margin: 10px;
        padding: 10px;
        border: solid 1px black;
        border-radius: 10px;
        min-height: 150px;
      }
      .detail .back {
        width: 50px;
        height: 50px;
      }
      .detail .img {
        float: left;
        border: 1px solid black;
        margin-right: 3em;
        margin-bottom: 2em;
        background-color: white;
        padding: 2em;
        height: 400px;
        width: 400px;
        max-width: calc(100% - 3em);
      }
      .detail .alcohol {
        clear:both;
      }

      .detail ul.beer-thumbs {
        margin: 0;
        list-style: none;
      }

      .detail ul.beer-thumbs li {
        border: 1px solid black;
        display: inline-block;
        margin: 1em;
        background-color: white;
      }

      .detail ul.beer-thumbs img {
        height: 100px;
        width: 100px;
        padding: 1em;
      }

      .detail ul.specs {
        clear: both;
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .detail ul.specs > li{
        display: inline-block;
        width: 200px;
        vertical-align: top;
      }

      .detail ul.specs > li > span{
        font-weight: bold;
        font-size: 1.2em;
      }

      .detail ul.specs dt {
        font-weight: bold;
      }

      .detail h1 {
        border-bottom: 1px solid gray;
      }
</style>


